$brandcolor: #3dd01d;
$white: #fff;
$textcolor: #555555;
$brandcolor: #49a010;
$whitecolor: #ffffff;
$headingcolor: #232d3b;
$headerborder: #00a226;
$navbarcolor: #ddffd5;
$bordercolor: #e8e8e8;
$graycolor: #f5f5f5;
$pldrcolor: #777777;
$starcolor: #ffcc23;
$removecolor: #ff3838;
$brandlight: #65ff00;
$bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
$bcardshadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
$biconshadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
$tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
