
@import "./colors";
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

a {
    text-decoration: none;
    display: inline-block;
}

h2 {
    font-size: $h2size;
    font-weight: $bweight;
    font-family: $sfamily;
    color: $headingcolor;
}

.gold-text {
    color: $starcolor;
}

.cursore-pointer {
    cursor: pointer;
}

.btn-brand {
    background-color: $brandcolor;
    border: $brandcolor;
    border-radius: 5px;
    padding: 10px 20px;
}

#main-wrapper {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.width-100 {
    width: 100px;
}

.width-200 {
    width: 200px;
}