@import "../colors";

.home-landing {
    .top-slider {
        .slider-content {
            img {
                width: auto;
                height: 100%;
            }
        }
    }

    .product-card {
        width: 220px;
        position: relative;
        box-shadow: 0 2px 7px #dfdfdf;
        background: #fafafa;
        margin: 1em;
        border: 1px solid #cec8c8;

        .badge {
            position: absolute;
            left: 0;
            top: 20px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            background: red;
            color: #fff;
            padding: 3px 10px;
        }
        
        .product-tumb {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 160px;
            padding: 5px; //1em;
            background: #f0f0f0;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .product-details {
            padding: 1em;

            .product-catagory {
                display: block;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ccc;
                margin-bottom: 18px;
            }

            h4 {
                a {
                    font-weight: 500;
                    display: block;
                    margin-bottom: 18px;
                    text-transform: uppercase;
                    color: #363636;
                    text-decoration: none;
                    transition: 0.3s; 

                    &:hover {
                        color: #fbb72c;
                    }
                }
            }

            p {
                font-size: 15px;
                line-height: 22px;
                margin-bottom: 18px;
                color: #999;
            }

            .product-bottom-details {
                overflow: hidden;
                border-top: 1px solid #eee;
                padding-top: 10px;

                div {
                    float: left;
                    width: 50%;
                }

                .product-price {
                    font-size: 15px;
                    color: #fbb72c;
                    font-weight: 600;
                
                    small {
                        font-size: 80%;
                        font-weight: 400;
                        text-decoration: line-through;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }

                .product-links {
                    text-align: right;

                    a {
                        display: inline-block;
                        margin-left: 5px;
                        color: #e1e1e1;
                        transition: 0.3s;
                        font-size: 17px;
                    
                        &:hover {
                            color: #fbb72c;
                        }
                    }
                }
            }
        }
    }
}

.non-Brand-items {
    .xs-organic-product-thumb {
        background: #f7f6f2;
        background: -webkit-gradient(linear,left top,left bottom,from(#f7f6f2),color-stop(60%,#f7f6f2),color-stop(60%,#fff),to(#fff));
        background: linear-gradient(to bottom,#f7f6f2 0,#f7f6f2 60%,#fff 60%,#fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f2',endColorstr='#ffffff',GradientType=0);
        border-radius: 4px;
        padding: 30px 30px 40px;
        position: relative;
        text-align: center;
        z-index: 1;
        overflow: hidden;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        margin-bottom: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 24px 4px;
        box-shadow: 0 2px 7px #dfdfdf;

        &:before {
            position: absolute;
            content: "";
            top: calc(60% - 42px);
            left: 0;
            background-image: url(../../images/curve.png);
            width: 100%;
            height: 42px;
            z-index: -1;
        }

        &:hover {
            .hover-box {
                bottom: -10px;
                opacity: 1;
                visibility: inherit;
            }
        }

        .product-item-meta {
            top: -25px;
        } 

        .product-thumb {
            margin: 0;
            min-height: 170px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .product-title {
            font-size: 1.28571em;
            margin-bottom: 8px;
            a {
                color: #222;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                display: inline-block;
            }
        }

        .content-box {
            position: relative;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;

            .price {
                color: #83b735;
                font-size: 1.14286em;
            }
        }

        .hover-box {
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            bottom: -20px;
            opacity: 0;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            visibility: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            width: 100%;
        }

        $star-size: 60px;
        $star-color: #fff;
        $star-background: #fc0;

        
        
#full-stars-example {

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
      display: inline-flex;
    }
    
    /* make hover effect work properly in IE */
    .rating__icon {
      pointer-events: none;
    }
    
    /* hide radio inputs */
    .rating__input {
     position: absolute !important;
     left: -9999px !important;
    }
  
    /* set icon padding and size */
    .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 1rem;
    }
    
    /* set default star color */
    .rating__icon--star {
      color: orange;
    }
    
    /* set color of none icon when unchecked */
    .rating__icon--none {
      color: #eee;
    }
  
    /* if none icon is checked, make it red */
    .rating__input--none:checked + .rating__label .rating__icon--none {
      color: red;
    }
  
    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
  
    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
      color: orange;
    }
  
    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
      color: #ddd;
    }
    
    /* make none icon grey on rating group hover */
    .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
       color: #eee;
    }
  
    /* make none icon red on hover */
    .rating__input--none:hover + .rating__label .rating__icon--none {
      color: red;
    }
  }
  
  
    }
}

.item-types {
    padding: 0 2rem;

    .item-type-container {
        padding: 2.5em 2em;
        border-right: 1px solid #eee;
        text-align: center;
    }

    .slick-arrow {
        &:before {
            color: $brandcolor;
        }
    }
}

@media only screen and (max-width: 767px) {
    .top-slider {
        .slider-content {
            .inner {
                top: 14%;

                h2 {
                    font-size: 15px;
                }
                h1 {
                    font-size: 18px;
                }
            }
        }

        .previousButton, .nextButton {
            top: 14%;
        }
    }   
}

.nonbrand-product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 1rem;
    border-radius: 5px;
}