.nav-header {
    .logo-abbr {
        max-width: 10em;
    }
}

.left-sidebar {
    position: fixed;
    height: 31em;
    overflow-y: scroll;
    margin-top: 0;

    .deznav-scroll {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: auto;
    }
} 