.nav-header {
    .logo-abbr {
        max-width: 10em;
    }
}

.left-sidebar {
    position: fixed;
    height: 25em;
    overflow-y: scroll;
    margin-top: 88px;
    padding-top: 0;

    .deznav-scroll {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: auto;
    }
} 

.custom-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 5.5rem;
}

.custom-nav-header {
    position: fixed;
    z-index: 100000;
    overflow: inherit;
    height: 5.5rem;
}

.content-body {
    margin-top: 5rem;
}