.product-preview-modal {
    .modal-dialog {
        margin-top: 0;
    }
    .modal-content {
        border-radius: 0;
    }

    @media only screen and (max-width: 767px) {
        z-index: 100000;
    }

    .selected-image {
        text-align: center;
        margin-bottom: 1rem;

        // img {
        //     max-width: 350px;
        //     max-height: 360px;
        // }
    }

    .product-images {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        img {
            width: 65px;
            height: auto;
            max-height: 60px;
            min-height: 40px;
        }
    }

    .product-price {
        small {
            font-size: 80%;
            font-weight: 400;
            text-decoration: line-through;
            display: inline-block;
            margin-right: 5px;
        }
    }

    .product-start {
        i {
            font-size: 25px;
            color: $brandcolor;
            cursor: pointer;

            &:hover {
                color: $starcolor;
            }
        }
    }
}